@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,400&family=Montserrat:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

:root {
  --color-primary: hwb(261 11% 35% / 0.466);
  --color-accent: #888888;
  --color-bg: #ffffff;
  --color-footer-bg: #111111;
  --color-sidebar-bg: #fafafa;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  scroll-behavior: smooth;
}
